# JWT Configuration
Jwt__Key=your_very_long_secret_key_here
Jwt__Issuer=your_jwt_issuer_here
Jwt__Audience=your_jwt_audience_here

# Database Configuration
# SA_PASSWORD is used for local Microsoft SQL Server container
SA_PASSWORD=YourStrong!Passw0rd
ConnectionStrings__DefaultConnection=Server=localhost,1433;Database=ApiDB;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True

# Redis Configuration
ConnectionStrings__Redis=localhost:6379,password=atara57769
